@model PaginatedList<DemoRefit.Models.UserClient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List User</h1>

<p>
    <a asp-action="CreateUser">Create New User</a>
</p>
<b style="color:red">@ViewBag.Error</b>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>
                FullName
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model.List) {
        <tbody>
        <tr>
            <td>
                @item.Username
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Password
            </td>
            <td>
                 @item.FirstName @item.LastName
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @item.Address
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditUser", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteUser", new { id=item.Id })
            </td>
        </tr>
    </tbody>
    }
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    &laquo;
</a>
@for (int i = 1; i < Model.TotalPages + 1; i++)
{
    if (Model.PageIndex == i)
    {
        <b class="pagefocus">@i.ToString()</b>
    }
    else
    {
        <a asp-action="Index" asp-route-pageNumber="@i.ToString()" class="pagenum">
            @i.ToString()
        </a>
    }
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    &raquo;
</a>


